apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
 name: ai-backend-hpa
 namespace: ai-gateway-demo
spec:
 scaleTargetRef:
   apiVersion: apps/v1
   kind: Deployment
   name: ai-backend
 maxReplicas: 5
 minReplicas: 1
 metrics:
  - type: Resource
    resource:
      name: cpu
      target:
        type: Utilization
        averageUtilization: 60